body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: cornflowerblue;
    padding: 10px 100px;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    flex: 1;    
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.header-container {
    width: 100%;
    display: flex;
}

.left-header-container {
    flex: 1;
}

.right-header-container {
    flex: 1;
}