* {
    font-family: Roboto, Georgia, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding: 10px 100px;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    flex: 1;  
    font-size: 24px;
    color: #F9FAF8; 
}


ul {
    display: flex;
    list-style: none;
    gap: 15px;
    color: #F9FAF8;
}

.header-container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.left-header-container {
    flex: 2;
}

.header-title {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.header-subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.right-header-container {
    flex: 1;
}

.right-header-container img{
    max-width: 100%;
}

button {
    background-color: #2882F6;
    border: none;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px;
}

/*cards section*/
.cards-cont {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
}

.card {
    width: 15%;
    flex-wrap: wrap;
}

.border {
    border: 5px solid #2882F6;
    border-radius: 5%;
}

.imgb {
    max-width: 100%;
}

.text {
    text-align: center;
}

/*quote section*/
.quote {
    background-color: #E5E7EB;
    padding: 100px 0;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    justify-content: center;
}

.quote-sign {
    font-size: 18px;
}

/*call to action section*/
.call-cont {
    display: flex;
    justify-content: center;
    margin: 30px;

}

.call {
    display: flex;   
    background-color: #3882F6;
    width: 70%;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
}

.call-left {
    flex: 3;
    color: #F9FAF8;
}

.call-right {
    flex: 1;
}

.class-btn {
    border: 5px solid #F9FAF8;
    border-radius: 10px;
}

/*footer*/
.footer {
    background-color: #1f2937;
    text-align: center;
    color: #F9FAF8;
    font-size: 14px;
    padding: 25px 0;
}
