body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: cornflowerblue;
    padding: 10px 100px;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    flex: 1;    
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.header-container {
    width: 100%;
    display: flex;
}

.left-header-container {
    flex: 1;
}

.right-header-container {
    flex: 1;
}

/*cards section*/
.cards-cont {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.card {
    width: 20%;
    flex-wrap: wrap;
}

.border {
    border: 3px solid blue;
    border-radius: 5%;
    height: 100px;
}

/*quote section*/
.quote {
    background-color: #E5E7EB;
    padding: 100px 0;
}

/*call to action section*/
.calltoaction-cont {
    display: flex;
    justify-content: center;
}

.calltoaction {   
    background-color: #3882F6;
    width: 70%;
    margin: 50px;
}

/*footer*/
.footer {
    background-color: #1f2937;
    justify-content: center;
}
